<div class="m-8">
  <h2 *ngIf="newOrExisitingIngredientGroup === 'existing'">Edit ingredient group</h2>
  <h2 *ngIf="newOrExisitingIngredientGroup === 'new'">New ingredient group</h2>

  <form [formGroup]="ingredientsGroupEditForm" (ngSubmit)="onSubmit()">
    <div class="my-6">
      <label for="ingredient-name" class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
        >Ingredient group name</label
      >
      <input barInput type="text" id="ingredient-name" formControlName="name" placeholder="Wodka Gorbatschow Citron" />
    </div>
    <div class="mb-6">
      <div *ngFor="let unit of unitOfMeasurement" class="flex items-center mb-4">
        <input
          id="default-radio-1"
          type="radio"
          value=""
          name="default-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
        <label for="default-radio-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{
          unit
        }}</label>
      </div>
    </div>
    <div class="my-6">
      <button barButton type="submit" [disabled]="ingredientsGroupEditForm?.invalid">Add new ingredient</button>
    </div>
  </form>
</div>
