<div class="sm:px-6 w-full">
  <h2 *ngIf="newOrExisitingIngredientGroup === 'existing'">Edit ingredient group</h2>
  <h2 *ngIf="newOrExisitingIngredientGroup === 'new'">New ingredient group</h2>

  <div class="xl:flex xl:flex-grow xl:w-full">
    <div class="xl:basis-full m-2 p-2">
      <form [formGroup]="ingredientsGroupEditForm" (ngSubmit)="onSubmit()">
        <div class="my-6">
          <label for="ingredient-group-name" class="block mb-2 text-base font-medium text-gray-900"
            >Ingredient group name</label
          >
          <input
            class="default-input"
            type="text"
            id="ingredient-group-name"
            formControlName="name"
            placeholder="Wodka Gorbatschow Citron" />
        </div>
        <div class="mb-6">
          <div *ngFor="let unit of unitOfMeasurement; index as i" class="flex items-center mb-4">
            <input
              *ngIf="unit === ingredientsGroupEditForm?.get('unitOfMeasurement')?.value; else nonSelectedRadio"
              id="ingredient-group-measurement-option-{{ i }}"
              type="radio"
              formControlName="unitOfMeasurement"
              [value]="unit"
              [checked]="true"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" />
            <ng-template #nonSelectedRadio>
              <input
                id="ingredient-group-measurement-option-{{ i }}"
                type="radio"
                formControlName="unitOfMeasurement"
                [value]="unit"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" />
            </ng-template>
            <label for="ingredient-group-measurement-option-{{ i }}" class="ml-2 text-sm font-medium text-gray-900">{{
              unit
            }}</label>
          </div>
        </div>
        <div class="my-6">
          <button
            *ngIf="newOrExisitingIngredientGroup === 'new'"
            barButton
            type="submit"
            [disabled]="ingredientsGroupEditForm?.invalid">
            Add new ingredient Group
          </button>
          <button
            *ngIf="newOrExisitingIngredientGroup === 'existing'"
            barButton
            type="submit"
            [disabled]="ingredientsGroupEditForm?.invalid">
            Edit ingredient group
          </button>
        </div>
      </form>
    </div>
    <div class="bg-gray-200 h-[1px] xl:w-1 xl:h-auto"></div>
    <div class="xl:basis-full m-2 p-2"></div>
  </div>
</div>
