<div class="m-8">
  <h2 *ngIf="newOrExisitingIngredient === 'existing'">Edit ingredient</h2>
  <h2 *ngIf="newOrExisitingIngredient === 'new'">New ingredient</h2>

  <form [formGroup]="ingredientsEditForm" (ngSubmit)="onSubmit()">
    <div class="my-6">
      <label for="ingredient-name" class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
        >Ingredient name</label
      >
      <input barInput type="text" id="ingredient-name" formControlName="name" placeholder="Wodka Gorbatschow Citron" />
    </div>
    <div class="my-6">
      <label for="ingredient-description" class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
        >Ingredient description</label
      >
      <input
        barInput
        type="text"
        id="ingredient-description"
        formControlName="description"
        placeholder="Healthy sweet alcohol, perfect for dumb persons" />
    </div>
    <div class="my-6">
      <label for="ingredient-amount" class="block mb-2 text-base font-medium text-gray-900 dark:text-white"
        >Ingredient amount</label
      >
      <input barInput type="number" id="ingredient-amount" formControlName="amount" placeholder="1000" />
    </div>
    <div class="my-6">
      <button barButton type="submit" [disabled]="ingredientsEditForm?.invalid">Add new ingredient</button>
    </div>
  </form>
</div>
