<ng-container *ngIf="(loading$ | async) === false; else loading">
  <ng-container *ngIf="currentlySelectedCocktail$ | async as Cocktail; let currentlySelectedCocktail">
    <ng-container *ngIf="currentlySelectedCocktail.cocktailId !== undefined; else cocktailNotFound">
      <h3 class="text-lg font-bold">Selected Cocktail - {{ currentlySelectedCocktail.cocktailName }}</h3>
      <div class="px-4 py-2">
        <h4 class="font-bold">Ingredients:</h4>
        <ul class="px-6 py-2 list-disc">
          <li *ngFor="let ingredient of currentlySelectedCocktail.recipeIngredients">
            {{ ingredient.amount }}{{ ingredient.unitOfMeasurement }} {{ ingredient.ingredientGroupName }}
          </li>
        </ul>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #cocktailNotFound>
  <app-not-found-widget
    headline="Selected cocktail not found"
    message="The system was unable to load the selected cocktail. That could be, because there is no selected cocktail or because of an error in the system">
  </app-not-found-widget>
</ng-template>
