<div class="sm:px-6 w-full">
  <!-- Headline -->
  <div class="px-4 md:px-10 py-4 md:py-7">
    <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Ingredients - Master</p>
  </div>

  <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
    <app-table-header></app-table-header>
    <div class="mt-7 overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tbody>
          <tr 
            *ngFor="let ingredientGroup of ingredientGroup$ | async | sortIngredientGroupsByAlphabet"
            tabindex="0" 
            class="focus:outline-none h-16 border border-gray-100 rounded px-4" 
            (onclick)="selectIngredientGroup('a')">
            <td class="pl-5">
              <p class="text-base font-bold leading-none text-gray-700">{{ ingredientGroup.name }}</p>
            </td>
            <td class="pl-5">
              <div class="flex items-center">
                <img src="assets/cup-measurement.svg" class="w-4 h-4">
                <p class="text-sm leading-none text-gray-600 ml-2">{{ ingredientGroup.ingredients | reduceIngredientsAmmount }}</p>
              </div>
            </td>
            <td class="pl-5">
              <div class="flex items-center">
                <p class="text-sm leading-none text-gray-600 ml-2">{{ unitOfMeasurement[ingredientGroup.unitOfMeasurement] }}</p>
              </div>
            </td>
            <td class="pl-5">
              <button class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded">{{ ingredientGroup.ingredients | countIngredientsGreaterZero }}/{{ ingredientGroup.ingredients.length }}</button>
            </td>
            <td class="pl-5">
              <button class="focus:ring-2 rounded-md focus:outline-none" onclick="dropdownFunction(this)" role="button" aria-label="option">
                <img src="assets/horizontal-dots.svg"  class="w-4 h-4">
              </button>
              <div class="dropdown-content bg-white shadow w-24 absolute z-30 right-0 mr-6 hidden">
                <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                  <p>Edit</p>
                </div>
                <div tabindex="0" class="focus:outline-none focus:text-indigo-600 text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                  <p>Delete</p>
                </div>
              </div>
            </td>
          </tr>
          <tr class="h-3"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>