<div class="sm:px-6 w-full">
  <h2 *ngIf="newOrExistingCocktail === 'existing'">Edit cocktail</h2>
  <h2 *ngIf="newOrExistingCocktail === 'new'">New cocktail</h2>

  <div class="xl:flex xl:flex-grow xl:w-full">
    <div class="xl:basis-full m-2 p-2">
      <form [formGroup]="cocktailEditForm" (ngSubmit)="onSubmit()">
        <div class="my-6">
          <label for="cocktail-name" class="block mb-2 text-base font-medium text-gray-900">Cocktail name</label>
          <input barInput type="text" id="cocktail-name" formControlName="name" placeholder="Mojito" />
        </div>
        <div class="my-6" formArrayName="ingredients">
          <div
            *ngFor="let ingredient of getIngredientsFormArray().controls; index as i"
            formGroupName="{{ i }}"
            class="py-4">
            <label for="ingredient-name-{{ i }}" class="block mb-2 text-base font-medium text-gray-900">
              Ingredient {{ i }}
            </label>
            <select
              id="ingredient-name-{{ i }}"
              formControlName="ingredientGroup"
              (change)="changeIngredientGroup(i, $event)"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              <option value="">Choose Ingredient</option>
              <option
                *ngFor="let ingredientGroup of allIngredients$ | async"
                [ngValue]="ingredientGroup.ingredientGroupName">
                {{ ingredientGroup.ingredientGroupName }}
              </option>
            </select>

            <label for="ingredient-amount-{{ i }}" class="block mb-2 text-base font-medium text-gray-900">
              Ingredient amount {{ i }}
            </label>
            <div class="flex">
              <input
                barInput
                type="number"
                id="ingredient-amount-{{ i }}"
                formControlName="amount"
                placeholder="1000" />
              <span class="mx-4 py-2 px-4 font-bold border-2">{{
                getUnitOfMeasurementToIngredient(
                  cocktailEditForm?.controls['ingredients'].at(i).controls.ingredientGroup.value
                )
              }}</span>
            </div>
          </div>
          <button barButton type="button" (click)="addIngredientToCocktailForm(); $event.stopPropagation()">
            Add new recipe step
          </button>
        </div>
        <div class="my-6">
          <button
            *ngIf="newOrExistingCocktail === 'new'; else editCocktailButtonTemplate"
            barButton
            type="submit"
            [disabled]="cocktailEditForm?.invalid">
            Add new cocktail
          </button>
          <ng-template #editCocktailButtonTemplate>
            <button barButton type="submit" [disabled]="cocktailEditForm?.invalid">Edit cocktail</button>
          </ng-template>
        </div>
      </form>
    </div>
    <div class="bg-gray-200 h-[1px] xl:w-1 xl:h-auto"></div>
    <div class="xl:basis-full m-2 p-2"></div>
  </div>
</div>
